/*** fonts **/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Viga&display=swap');
/*** reset **/
*{
	margin:0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
html,body{
	width: 100%;
	height: 100%;
	position: relative;
}
body{
	font-size: 1.6rem;
	line-height: 1.333;
	font-family: 'Oswald', sans-serif;
	/*color:rgba(255,255,255,0.7);*/
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
button{
	font-size: 1.6rem;
	font-family: 'Oswald', sans-serif;
	cursor: pointer;
}
h1,h2,h3,h4{
	color: #333;
	font-family:'Viga', sans-serif;
	font-weight: lighter;
}

.list{
	display: inline-block;
	vertical-align: top;
	background-color: #eee;
	width: 400px;
	margin: 50px;
	border:1px solid #ddd;
	padding: 0 5px;
}
.list>header{
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10px;
}
.btn-container{
	display: flex;
	justify-content: space-between;
}
.btn-container button,.creat-item button{
	text-align: center;
	width: 100px;
	height: 26px;
	background-color: #fff;
	border:1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.btn-container button:active,.creat-item button{
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}
.list .content{
	background-color: #fff;
}
.list>footer{
	height: 30px;
}
/****** cretion d'item *****/
.creat-item{
	background-color: #fff;
	padding: 10px;
	justify-content: space-between;
	display: none;
	position: relative;
	flex-wrap: wrap;

}
.creat-item input{
	flex:none;
	width: 100%;
	border: none;
	height: 28px;
	line-height: 28px;
	border-radius: 3px;
	padding-left: 5px;
	margin-bottom: 5px;
	box-shadow:inset 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.select-btn-img{
	background-color: #eee;
	height: 28px;
	line-height: 26px;
	border:1px solid #ccc;
	padding: 0 20px;
	border-radius: 3px;
	cursor: pointer;
}
.panel-avatar{
	position: absolute;
/*	display: flex;*/
	flex-wrap: wrap;
	background-color: #fff;
	width: 100%;
	left: 0;
	top: 80px;
	z-index: 100;
	border-radius: 3px;
	border:1px solid #ccc;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.5);
	padding:10px;
	display:none;
}
.panel-avatar li{
	width: 33.3333%;
	max-height:120px ;
	background-color: #f00;
	border: 2px solid #fff;
	cursor: pointer;
	opacity: 0.6;
	overflow: hidden;
	transition: opacity 300ms ease-in-out;
}
.panel-avatar li:hover{
	opacity: 1;
}
.panel-avatar li img{
	max-width: 100%;
}

/*********** items *********/
.item-list{
	padding: 5px;
	margin:5px 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-list:last-child{
	border:none;
}
.item-list img{
	width: 60px;
	border-radius: 5px 0 0 5px;
}
.item-list>div{
	width: calc(100% - 60px);
	padding: 0 5px;
	font-size: 1.9rem;
}
.item-list h3+p{
	font-size: 1.6rem;
	font-weight: lighter;
	font-style: italic;
}
